# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
/.next/
/out/
/build
/dist

# Production & bundle analysis
*.tsbuildinfo
next-env.d.ts

# Debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# IDE & Editor files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
[Dd]esktop.ini

# Vercel deployment cache
.vercel
